<main>
    <h1>Principais Serviços realizados:</h1>

    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1347150429/pt/foto/professional-mechanic-working-on-the-engine-of-the-car-in-the-garage.jpg?s=2048x2048&w=is&k=20&c=NV9PhifqLpHCSXjd0tkvMC6-WnMfeSvAnEPxS6no_8o=" alt="">
        </ng-template>

        <ng-template ngbSlide>
           <img src="https://media.istockphoto.com/id/1141225062/pt/foto/shot-of-data-center-with-multiple-rows-of-fully-operational-server-racks-modern.jpg?s=2048x2048&w=is&k=20&c=GQhmiTw32-RnyZUrmzmpHiO84iU8RrLqX2dqh2Zt07g=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1304484797/pt/foto/person-holds-a-smartphone-with-mobile-banking-icons-projection.jpg?s=2048x2048&w=is&k=20&c=zYPxoDszNwjhw_h1GLgJipa3TVR2AeK9QyfoUtdS6ag=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://cdn.pixabay.com/photo/2023/05/05/06/19/street-7971714_1280.jpg" alt="">
        </ng-template>

      </ngb-carousel>

    <div class="desc">
        <h2>2GO</h2>
        <p>Serviço feito no dia XX/XX/XXXX onde foram feitas manutenção de XXXXX, XXXXX e XXXXX</p>
    </div>

    <!-- Fim do 1º -->

    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1175888628/pt/foto/woman-repairing-a-car-in-auto-repair-shop.jpg?s=2048x2048&w=is&k=20&c=eJUt4GCa_dBRtp_bbysaR0taazgM9dkv3nFeIIn_vWw=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/673723668/pt/foto/handsome-auto-service-workers.jpg?s=2048x2048&w=is&k=20&c=Jwjehauhvuj_eRGz58w7F4tMknqVIv4BIucl4Nx8owM=" alt="">
        </ng-template>

        <ng-template ngbSlide>
           <img src="https://media.istockphoto.com/id/1335522873/pt/foto/air-conditioning-technician-and-a-part-of-preparing-to-install-new-air-conditioner.jpg?s=2048x2048&w=is&k=20&c=TZisz4q8yvkJ4YwdoCgYMOZpsTDYEuoqIMHLzw5KSm4=" alt="">
        </ng-template>

      </ngb-carousel>

    <div class="desc">
        <h2>Academia Sewakai</h2>
        <p>Serviço feito no dia XX/XX/XXXX onde foram feitas manutenção de XXXXX, XXXXX e XXXXX</p>
    </div>

    <!-- Fim do 2º -->

    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1279259535/pt/foto/male-repair-air-conditioner-at-room-he-is-air-technician-mechanic-engineer-maintenance-air.jpg?s=2048x2048&w=is&k=20&c=BSpiAbzSRmTAUD7FovZr1Bl0mhtnCBXsqTePmc0hTIY=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1361116682/pt/foto/plumber-fixing-a-leaking-bathroom-faucet.jpg?s=2048x2048&w=is&k=20&c=oYbZS5nNaJ8B6RlJJVAdwApaplvuJ7Et8HEOX0cP7lc=" alt="">
        </ng-template>

        <ng-template ngbSlide>
           <img src="https://media.istockphoto.com/id/1059548978/pt/foto/technical-support-concept-business-person-touching-helpdesk-icon-on-screen-hotline-assistance.jpg?s=2048x2048&w=is&k=20&c=YFbJkTBS9fo4igc-VTUCo-ygC1Ct7DSqxA1_BQzBvl8=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1171642472/pt/foto/roofer-worker-in-protective-uniform-wear-and-gloves-concept-of-residential-building-under.jpg?s=2048x2048&w=is&k=20&c=U6DHU3b-jr7P-ug98SBhpDpU4qbjWpr2vFh7FWB0u2w=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1165665234/pt/foto/car-maintenance-and-repair-mechanic-writing-checklist-paper-on-clipboard.jpg?s=2048x2048&w=is&k=20&c=FRBdNkJBiiGpKdAghQmUIwm5p6ac_trpSD4E32WRa-E=" alt="">
        </ng-template>

      </ngb-carousel>

    <div class="desc">
        <h2>Nics</h2>
        <p>Serviço feito no dia XX/XX/XXXX onde foram feitas manutenção de XXXXX, XXXXX e XXXXX</p>
    </div>

    <!-- Fim do 3º -->

    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/856866278/pt/foto/system-administrator-checking-servers.jpg?s=2048x2048&w=is&k=20&c=jPQFX6iQmrpFsPw0JfoCMvO9eB4MRnbZnXY6XzfMhrE=" alt="">
        </ng-template>

        <ng-template ngbSlide>
            <img src="https://media.istockphoto.com/id/1345962789/pt/foto/electrician-engineer-uses-a-multimeter-to-test-the-electrical-installation-and-power-line.jpg?s=2048x2048&w=is&k=20&c=1gBR9N6boXADO_SWPkgdudilNuvHZMdEjD5vyIkbXL4=" alt="">
        </ng-template>

        <ng-template ngbSlide>
           <img src="https://media.istockphoto.com/id/1004229704/pt/foto/woman-using-a-cordless-drill.jpg?s=2048x2048&w=is&k=20&c=jvEQsFZct3NlcYgW7WDBd0j4-UFoa2kp0XGFWLHL1lE=" alt="">
        </ng-template>

      </ngb-carousel>

    <div class="desc">
        <h2>Imobiliaria RFNI</h2>
        <p>Serviço feito no dia XX/XX/XXXX onde foram feitas manutenção de XXXXX, XXXXX e XXXXX</p>
    </div>

    <!-- Fim do 4º -->
</main>
