header{
    margin-bottom: 8px;
    border-bottom: 0px;
}

.headerContent{
    display: flex;
    align-items: center;
    /* height: 8vh; */
    height: 8vh;
}

header ul{
    justify-content: space-evenly;
    width: 100%;
    padding-right: 10%;

}

header li{
    font-size: 2.5rem;
}

#logo_hm{
    width: 120px;   
    box-sizing: content-box !important;

}


ul{
    margin-bottom: 8px;
    border-bottom: none;
}

/*fim do alinhamento com mais de 600px em flexbox*/

/*alinhamento com menos de 600px de tela*/



#btn-mobile{
    /* display: none; */
    
}
/*tem que fazer um evento de fechar menu quando ele estiver aberto, a largura aumentar e diminuir de novo*/
@media(max-width: 850px){

    #logo_hm{
        margin-top: -10px;
    }

    header{
        justify-content: space-between;
        height: 20%;
    }

    .nav{
        padding-top: 10%;
        display: flex; 
        position: absolute;
        width: 100%;
        justify-content: start;
        top: 1.5rem; /*mudar isso para tornar corretamente responsivo*/
        flex-direction: column;
        text-align: left;
        height: 0px;
        transition: .6s;
        overflow-y: auto;
        background-color: var(--corFundo);
        z-index: 10000;
        gap: 3%;
    } 

    ul.nav.nav-tabs{
        padding-top: 10%;
        display: flex; 
        position: absolute;
        width: 100%;
        justify-content: start;
        top: 1.5rem; /*mudar isso para tornar corretamente responsivo*/
        flex-direction: column;
        text-align: left;
        height: 0px;
        transition: .6s;
        overflow-y: auto;
        background-color: var(--corFundo);
        z-index: 10000;
        gap: 3%;
    }
    
    .nav a{
        color: var(--ReverseColor);
        color: var(--corPrincipal);
        text-align: center;
        padding-bottom: 0.5rem;

    }

    nav a::after{
        transform: none;
    }
    

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--corFonte);
        z-index: 100000;
        position: absolute;
    }
    #hamburger{
        border-top: 2px solid;
        width: 40px;
    }
    
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: inherit;
        height: 2px;
        background-color: currentColor;
        margin-top: 10px;
        transition: .3s;
        position: relative;
    }

    nav.active{ /*quando nav receber a classe active em jQuery o display será flex*/
        height: 100%;
        visibility: visible;
        position: absolute;
        z-index: 10000;
    }
    
    #hamburger.active{ /*hamburger também recebe a classe active em jQuery*/
        border-top-color: transparent;
    }
    
    #hamburger.active::before{
        transform: rotate(135deg);
    }
    
    #hamburger.active::after{
        transform: rotate(-135deg);
        top: -12px; /*ajusta o "X" para ficar alinhado*/
    }
    
}

