<button id="btn-mobile" aria-expanded="false" aria-controls="nav" aria-haspopup="true" aria-label="Abrir Menu" (click)="toggleMenu()">

  <span id="hamburger"></span>
</button>

<header>
  <div class="headerContent">

    <nav class="nav" orientation="vertical" role="menu" [class.active]="isMenuOpen">
      
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li ngbNavItem>
          <a class="nav-link" [routerLink]="['']">Início</a>
        </li>
        <li ngbNavItem>
          <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
        </li>
        <li ngbNavItem>
          <a class="nav-link" [routerLink]="['/orcamento']">Orçamento</a>
        </li>
        <li ngbNavItem>
          <a class="nav-link" [routerLink]="['/fornecedores']">Fornecedores</a>
        </li>
      </ul>
    </nav>



  </div>


</header>

