#logo_hm{
    width: 120px;   
    box-sizing: content-box !important;
}

div a{
    font-family: 'Nunito';
    color: #3783e0;
}

nav{
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    flex-grow: 1;
    margin-left: clamp(0%, -2.5% - 2.5vw,-5%);
    justify-content: space-between !important;
}

ul{
    width: 100%;
    justify-content: space-around;
}

.navbar-collapse li a:hover{
    color: var(--AutoColor);
}

.navbar-collapse li a:active{
    color: var(--Fornecedores);
}

.navbar-toggler{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 100;
    color: transparent;
}

@media(min-width: 768px){
    #hamburger{
        display: none;
    }


}

@media(max-width: 767px){

    .navbar-collapse{
        height: 130vh;
    }

}



#hamburger{
    border-top: 3px solid;
    width: 40px;
    color: #3783e0;

}

#hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: inherit;
    height: 3px;
    background-color: currentColor;
    margin-top: 10px;
    transition: .3s;
    position: relative;
}
#hamburger.active{ 
    border-top-color: transparent;
}

#hamburger.active::before{
    transform: rotate(135deg);
    border-radius: 10px;
}

#hamburger.active::after{
    transform: rotate(-135deg);
    top: -12px; /*ajusta o "X" para ficar alinhado*/
    border-radius: 10px;
}
