<nav class="navbar navbar-expand-md navbar-light">
  

    <img src="" alt="logo" id="logo_hm">

		<button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed" (click)="toggleMenu()">
			<span id="hamburger"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav">
        
				<li class="nav-item" >
					<a class="nav-link" role="button" [routerLink]="['']" (click)="collapsed = !collapsed"> Início </a>
        </li>

        <li class="nav-item" >
					<a class="nav-link" role="button" [routerLink]="['/sobre']" (click)="collapsed = !collapsed"> Sobre </a>
        </li>

        <li class="nav-item" >
					<a class="nav-link" role="button" [routerLink]="['/orcamento']" (click)="collapsed = !collapsed"> Orçamento </a>
        </li>

        <li class="nav-item" >
					<a class="nav-link" role="button" [routerLink]="['/fornecedores']" (click)="collapsed = !collapsed"> Fornecedores </a>
        </li>

			</ul>
		</div>
</nav>


<router-outlet></router-outlet>