<header>
  <div class="headerContent">
    
    <img src="" alt="logo" id="logo_hm">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li ngbNavItem>
        <a class="nav-link " aria-current="page" [routerLink]="['']">Início</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="['/orcamento']">Orçamento</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="['/fornecedores']">Fornecedores</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</header>
