
   <app-header></app-header>

<main class="content">
  <router-outlet></router-outlet>
</main>
  
  <app-footer></app-footer>

<script>
        const pref = window.matchMedia('(prefers-color-scheme: dark)').matches
    console.log(pref)
    if(pref == true){ 
      console.log("Deveria mostrar 1")
        document.querySelector('html')?.classList.add('dark-mode')
        document.querySelector('#logo_hm')?.setAttribute('src', 'logo/hmCleanLogoDarkmode.svg')
        console.log("Deveria mostrar 2")
  
    } else{
      document.querySelector('html')?.classList.remove('dark-mode')
      document.querySelector('#logo_hm')?.setAttribute('src', 'logo/hmCleanLogo.svg')
    }
</script>
